*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif
}

h1{
  text-align: center;
}

#container{
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
} 
.red{
  color: red;
}

#prev, #next {
  font-size: 3rem;
}

#prev:hover, #next:hover{
  cursor: pointer;
}